<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsD0wYTX-3c_gUBs-3SDeJNFFaai30Rqs</string>
	<key>GCM_SENDER_ID</key>
	<string>893747460708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transform66.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>transform66-edc4d</string>
	<key>STORAGE_BUCKET</key>
	<string>transform66-edc4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893747460708:ios:006c758aa5f5d5ec69fd71</string>
</dict>
</plist>